.text li {
  display: inline-block;
  font-weight: 700;
  font-size: 2em;
  color: #000000;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text.hidder {
  border-bottom: 4px solid #000000;
}
.text.hidder li.ghost {
  opacity: 0;
  max-width: 0;
}
