.sidebar {
  writing-mode: vertical-lr;
}
.home {
  clip-path: polygon(0 58%, 100% 41%, 100% 100%, 0% 100%);
}

/* .parent {
  width: 290px;
  height: 150px;
  position: relative;
  z-index: 8;
  margin: auto;
} */
.hello {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 10; */
  left: 1.2rem;
  top: 1.2rem;
}
.button-three {
  --button-color: black;
  overflow: hidden;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
  translate: 2px -2px;
  rotate: 0.125turn;
}
.button-three[aria-expanded="false"] .heading .head {
  display: none !important;
}

.button-three .line {
  transition: 0.5s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
button.button-three {
  background-color: unset !important;
  padding: 0 !important;
}
.active{
  color: red;
  text-decoration: line-through;
}
.untranslated { 
  transform: translateX(-100%);
}
.translated {
  transform: translateX(0%);
}
.visible {
  opacity: 1;
  transform: translateY(0%);
}
.notvisible {
  opacity: 1;
  transform: translateY(100%);
}
/* .parent:hover .parent::after{
    z-index: 0;
} */
@media screen and (min-width: 1000px) {
  .home{
    clip-path: none;
  }
  .sidebar {
    /* writing-mode: sideways-lr; */
    writing-mode: horizontal-tb;
  }
}